/* @font-face {
    font-family: cursedTimer;
    src: url(cursedTimer.ttf);
} */

body {
    margin: 0;
    text-align: center;
    color: white;
}

.team-title {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}

.individual-container {
    width: 155px;   
}
  
h4 {
    font-size: 90px;
    color: #F94F6D;
    background: black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 25px;
    /* font-family: cursedTimer; */
}

.increment-btn {
    color: #9AABD8;
    border: 2px solid #9AABD8;
    background: none;
    /* font-family: cursedTimer; */
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-size: 18px;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background: #1B244A;
    align-items: center;
}